#adminPanel {
	background: #0e2b87;
	min-height:55px;
	color: white;
}

#adminPanel h2 {
	margin-bottom: 10px;
}

#adminPanel a {
	color: white;
}

#adminPanel ul#adminUtilitiesMenu {
	list-style-type: none;
	margin: 0;
}

#adminPanel #adminUtilitiesMenu a {
	font-size: 16px;
	float: right;
	vertical-align: middle;
	padding: 0 7px;
	color: white;
}

#adminPanel #adminSteps {
	overflow: hidden;
	font-size: 18px;
	height: 37px;
	list-style-type: none;
	margin: 0;
}

#adminPanel #adminSteps li {
	margin: 0px;
	float: left;
	height: 35px;
	line-height: 35px;
	padding: 0;
	background-color: #fff;
	vertical-align: middle;
	border: 1px dotted #555;
}

#adminPanel #adminSteps li a {
	height: 35px;
	display: inline-block;
	text-decoration: none;
	color: black;
	padding: 0 20px;
}

#adminPanel #adminSteps li a:link, #adminPanel #adminSteps li a:active,#adminPanel #adminSteps li a:visited {
	color: black;
}

#adminPanel #adminSteps li.active {
	background: #ffe84c;
}

#adminPanel #adminSteps li:hover {
	background: #f86b2b;
}
