#adminPanel {
	background: #0e2b87;
	min-height:55px;
	color: white;
}

#adminPanel h2 {
	margin-bottom: 10px;
	font-size: 26px;
}

#adminPanel a {
	color: white;
}

#adminPanel ul#adminUtilitiesMenu {
	list-style-type: none;
	margin: 0;
}

#adminPanel #adminUtilitiesMenu li {
	float: right;
	margin: 0px;
}

#adminPanel #adminUtilitiesMenu a {
	font-size: 16px;
	padding: 0 7px;
	color: white;
}

#adminPanel #adminSteps {
	font-size: 18px;
	height: 37px;
	list-style-type: none;
	margin: 0;
}

#adminPanel #adminSteps li {
	margin: 0px;
	float: left;
	height: 31px;
	line-height: 31px;
	padding: 0;
	background-color: #fff;
	vertical-align: middle;
	border-top:3px solid #999;
	border-left: 3px solid #999;
	border-right: 3px solid #444;
	border-bottom: 3px solid #444;
}

#adminPanel #adminSteps li a {
	height: 35px;
	display: inline-block;
	text-decoration: none;
	color: black;
	padding: 0 20px;
}

#adminPanel #adminSteps li a:hover{
	text-decoration: underline;
}

#adminPanel #adminSteps li a:link, #adminPanel #adminSteps li a:active,#adminPanel #adminSteps li a:visited {
	color: black;
}
#adminPanel #adminSteps .current {
	background: #FFE84C;
}
