#adminPanel {
	background: #0e2b87;
	min-height:55px;
	color: white;
}

#adminPanel a {
	color: white;
}

#adminPanel a.logout {
	display: block;
	font-size: 18px;
	float: right;
	padding: 4px;
	vertical-align: middle;
	text-decoration: none;
}
	
#adminSteps {
	overflow: hidden;
	font-size: 18px;
	height: 37px;
	list-style-type: none;
	margin: 0;
}

#adminSteps li {
	margin: 0px;
	float: left;
	height: 35px;
	line-height: 35px;
	padding: 0;
	background-color: #fff;
	vertical-align: middle;
	border: 1px dotted #555;
}

#adminSteps li a {
	height: 35px;
	display: inline-block;
	text-decoration: none;
	color: black;
	padding: 0 20px;
}

#adminSteps li a:link, #adminSteps li a:active, #adminSteps li a:visited {
	color: black;
}

#adminSteps li:hover {
	background: #f86b2b;
}

#adminSteps li.active {
	background: #ffe84c;
}
