.eventslist{
	background-color:#eee;
}	

table {
	margin:10px;
}

#adminEvent {
	background: #eee;
}
#adminEvent dl {
	font-size: 16px;
}

#adminEvent dt {
	border-bottom: 2px solid black;
	font-weight: bold;
	display: inline;
}

#adminEvent dd {
	margin: 2px 0 12px;
	text-indent: 2em;
}