.eventslist{
	background-color:#eee;
}	

table {
	margin:10px;
}

table#registrators tr th {
	width: 60px;
}

#adminEvent {
	background: #eee;
}
#adminEvent dl {
	font-size: 16px;
}

#adminEvent dt {
	border-bottom: 2px solid black;
	font-weight: bold;
	display: inline;
}

#adminEvent dd {
	margin: 2px 0 12px;
	text-indent: 2em;
}

.loggedOut {
	font-weight: bold;
	font-size: 18px;
}

.dataTables_filter {
	position: relative;
	float: right;
	margin-right: 10px;
	height: 50px;
	margin-top: -60px;
	line-height: 50px;
	display: inline;
	font-size:16px;
}

.dataTables_filter input {
	float: none;
	margin: 0;
	font-size:14px;
}

#moduleIndex a {
	display: block;
	width: 100%;
	height: 100%;
	padding: 5px 0;
	text-indent: 5px;
}

#moduleIndex a.odd, #moduleIndex a.odd:visited, #moduleIndex a.odd:hover {
	color:#000;
	background:none;
}

#moduleIndex a.even, #moduleIndex a.even:visited, #moduleIndex a.even:hover {
	color:#00f;
	background:none;
}

#moduleIndex tbody tr.companyhover td, #moduleIndex tbody tr.companyhover td.sorting_1 {
	background: #7ac5cd;
}

#moduleIndex tbody tr.hover td, #moduleIndex tbody tr.hover td.sorting_1 {
	background: #00008b;
}

#moduleIndex tr.hover a {
	color: #fff;
}

#moduleIndex thead th, #registrators thead th {
	padding-right: 20px;
}

#moduleIndex td {
	padding: 0;
}

.nounderline {
	text-decoration: none;
}

#moduleIndex a.button {
	display:block-inline;
	background-color: #ddd;
	border-top:3px solid #999;
	border-left: 3px solid #999;
	border-right: 3px solid #444;
	border-bottom: 3px solid #444;
	padding:0;
	text-decoration:none;
	color:black;
	text-weiht:bold;
}

#code_fields {
	width:100%;
	clear:both;
}

#addCode {
	float: left;
	width: 455px;
	margin-right: 5px;
	display: inline;
	background: #eee;
}

#viewCode {
	float: right;
	width: 455px;
	margin-left: 5px;
	display: inline;
	background: #eee;
}

#viewCode #moduleIndex_filter {
	width: auto;
	margin-top: -99px;
	margin-right: 0;
}

#viewCode h3 {
	margin-bottom: 0;
}

.inner_push {
	margin: 10px;
}

#viewCode #moduleIndex td {
	padding: 5px;
}
