
label {
	clear: left;
	float: left;
	font-size: 150%;
	font-weight: bold;
	cursor: pointer;
}
input, textarea, select {
	float: left;
	clear: left;
	font-size: 150%;
	padding: 3px;
	font-family: arial, tahoma, verdana, sans-serif;
}

select {
	font-size: 150%;
}

fieldset {
	background: #eee;
}

.postcode {
	width: 90px;
	display: inline;
	float: left;
	position: relative;
}

.postcode input {
	width: 70px;
	display: inline;
}

.city {
	display: inline;
	float: left;
	position: relative;
}

.city input {
	width: 200px;
	display: inline;
}

 .first_name, .last_name, .email, .retype_email {
	float: left;
}

.first_name input, .last_name input, .email input, .retype_email input {
}

#registration .submit {
	margin-left: 10px;
}

label.error {
	font-size: 100%;
	color: red;
	font-weight: bold;
}

.obligatory {
	width: 100%;
	text-align: right;
	font-weight: bold;
}

fieldset div {
	margin: 10px;
}