.grid11, .grid10, .grid8, .grid7, .grid5, .grid4, .grid2, .grid1, fieldset div {
	display: inline;
}

body {
	text-align: center;
}

.container_12 {
	text-align: left;
}

#PersonAddForm ol li {
	float: left;
}