div.login {
	background: #eee;
	padding-bottom: 20px;
}

form#login .input.text, form#login .submit, form#login .input.password {
	width: 490px;
	margin: 10px auto 0 auto;
	clear: both;
}

form#login .input.text input, form#login .submit input,form#login .input.password input {
	width: 470px;
}

form#login #RegistrationNumber {
	width: 180px;
}

form#login .submit {
	margin-top: 20px;
	float: none;
	width: 470px;
}

form#login label {
	margin-top: 20px;
}

form#login label.error {
	margin-top: 0;
}

form#login .input input {
	font-size: 250%;
	padding: 10px;
}

form#login .submit input {
	font-size: 150%;
	font-weight: bold;
	padding: 10px 10px;
	clear: both;
}

.login_info {
	float: none;
	display: block;
	clear: both;
	background: #fffcbb;
	margin: 20px auto 20px auto;
	padding: 5px 0;
}

#login_error {
	margin-bottom: 0;
	background-color:#ffaaaa;
}

div.input.text {
	margin-top: 0;
}

#login_error p {
	text-indent: 20px;
	background: url(../img/error.png) no-repeat 0 0;
	font-size:150%;
}

form#login {
	float: none;
}